# Backend (Java Spring Boot)
target/
*.jar
*.war
*.ear
*.class
*.log
.env
.idea/
.vscode/
*.iml
.mvn/
out/
!src/main/resources/application.properties

# Frontend (React/Angular/Vue)
node_modules/
dist/
build/
*.cache
.DS_Store
.env.local
